.contact-form{
    padding: 0 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
      /* scroll */
  padding-top: 3rem;
}

.c-text {
  display: flex;
  flex-direction: column;
  position: relative;
}

.c-text > :nth-child(1) {
  color: var(--black);
  font-size: 3.5rem;
  font-weight: bold;
}
.c-text > :nth-child(2) {
  color: var(--violet);
  font-size: 4rem;
  font-weight: bold;
  padding-right:3rem ;
}

.contact-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.contact-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.contact-right .sender{
    width: 25rem;
    height: 4rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--blue);
    border-radius: 8px;
    font-size: 20px;   
}
textarea{
    height: 4rem!important;
}
.c-blur1{
    position: absolute;
  width: 37rem;
  height: 18rem;
  border-radius: 50%;
  background: #9496f7;
  filter: blur(212px);
  z-index: -9;
  top: -5%;
  left: 28%;
  filter: blur(72px);
}
.s-blur1{
position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: rgba(252, 166, 31, 0.45);
  z-index: -9;
  top: 17rem;
  width: 21rem;
  height: 11rem;
  left: -9rem;
  filter: blur(72px);
}
           
@media screen and (max-width: 480px) {
    .contact-form{
        padding: 2rem;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
    }
    .contact-right .sender{
        width: 16rem;
    }

}   