.nav-wrapper{
    display: flex;
    justify-content: space-between;
    /* font-family: 'Josefin', cursive; */
      /* font-weight: normal; */
      font-size: 25px; 
}

.nav-left{
    height: 16vh;
    flex:4;
    align-items: left;
    display: flex;
    gap: 2rem;
    flex-direction: column;

}

.nav-name{
    
    font-size: 40px;
    font-weight: bold;
    color: var(--violet);
    /* text-shadow: 30px 23px 5px rgba(251, 161, 40, 0.42); */
}

.nav-right{
    height: 16vh;
    display: flex;
    flex:3;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-direction: column;

}

.nav-list{
    display: flex;
    flex: 10;
}

.nav-list>ul{
    list-style: none;
    display: flex;
    gap:2rem;
    margin-right: 2rem;
}

.nav-list>ul>li:hover{
    color: var(--violet);
}

.nav-list>ul>li{
    text-decoration: none;
}

.nav-button {
  flex: 1;
  font-size: 25px;
  
}

.nav-button:hover{
  background: white;
  color: var(--violet);
  font-size: 30px;
  font-weight: bold;
  border: 1px solid var(--violet);
}